In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [5]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [6]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [7]:
X_age = train_data["Age"]
#print(X_age)
mode_age = X_age.median()
#print(mode_age[0])
X_age = X_age.fillna(mode_age)

In [8]:
Xtest_age = test_data["Age"]
#print(Xtest_age)
mode_age = Xtest_age.median()
#print(mode_age[0])
Xtest_age = Xtest_age.fillna(mode_age)
Xtest_fare = test_data["Fare"]
Xtest_fare = Xtest_fare.fillna(7.9250)

In [9]:
features = ["Pclass", "Sex", "SibSp", "Parch","Fare"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])
print(X)
X['Age'] = X_age
X_test['Age'] = Xtest_age
X_test['Fare'] = Xtest_fare
print(X)
print(X_test)

     Pclass  SibSp  Parch     Fare  Sex_female  Sex_male
0         3      1      0   7.2500           0         1
1         1      1      0  71.2833           1         0
2         3      0      0   7.9250           1         0
3         1      1      0  53.1000           1         0
4         3      0      0   8.0500           0         1
..      ...    ...    ...      ...         ...       ...
886       2      0      0  13.0000           0         1
887       1      0      0  30.0000           1         0
888       3      1      2  23.4500           1         0
889       1      0      0  30.0000           0         1
890       3      0      0   7.7500           0         1

[891 rows x 6 columns]
     Pclass  SibSp  Parch     Fare  Sex_female  Sex_male   Age
0         3      1      0   7.2500           0         1  22.0
1         1      1      0  71.2833           1         0  38.0
2         3      0      0   7.9250           1         0  26.0
3         1      1      0  53.1000           1         0  35.0
4         3      0      0   8.0500           0         1  35.0
..      ...    ...    ...      ...         ...       ...   ...
886       2      0      0  13.0000           0         1  27.0
887       1      0      0  30.0000           1         0  19.0
888       3      1      2  23.4500           1         0  28.0
889       1      0      0  30.0000           0         1  26.0
890       3      0      0   7.7500           0         1  32.0

[891 rows x 7 columns]
     Pclass  SibSp  Parch      Fare  Sex_female  Sex_male   Age
0         3      0      0    7.8292           0         1  34.5
1         3      1      0    7.0000           1         0  47.0
2         2      0      0    9.6875           0         1  62.0
3         3      0      0    8.6625           0         1  27.0
4         3      1      1   12.2875           1         0  22.0
..      ...    ...    ...       ...         ...       ...   ...
413       3      0      0    8.0500           0         1  27.0
414       1      0      0  108.9000           1         0  39.0
415       3      0      0    7.2500           0         1  38.5
416       3      0      0    8.0500           0         1  27.0
417       3      1      1   22.3583           0         1  27.0

[418 rows x 7 columns]

In [10]:
from sklearn.ensemble import RandomForestClassifier

features = ["Pclass", "Sex", "SibSp", "Parch","Fare"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])
print(X)
X['Age'] = X_age
X_test['Age'] = Xtest_age
X_test['Fare'] = Xtest_fare
print(X)
print(X_test)



model = RandomForestClassifier(n_estimators=100, max_depth=7, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

     Pclass  SibSp  Parch     Fare  Sex_female  Sex_male
0         3      1      0   7.2500           0         1
1         1      1      0  71.2833           1         0
2         3      0      0   7.9250           1         0
3         1      1      0  53.1000           1         0
4         3      0      0   8.0500           0         1
..      ...    ...    ...      ...         ...       ...
886       2      0      0  13.0000           0         1
887       1      0      0  30.0000           1         0
888       3      1      2  23.4500           1         0
889       1      0      0  30.0000           0         1
890       3      0      0   7.7500           0         1

[891 rows x 6 columns]
     Pclass  SibSp  Parch     Fare  Sex_female  Sex_male   Age
0         3      1      0   7.2500           0         1  22.0
1         1      1      0  71.2833           1         0  38.0
2         3      0      0   7.9250           1         0  26.0
3         1      1      0  53.1000           1         0  35.0
4         3      0      0   8.0500           0         1  35.0
..      ...    ...    ...      ...         ...       ...   ...
886       2      0      0  13.0000           0         1  27.0
887       1      0      0  30.0000           1         0  19.0
888       3      1      2  23.4500           1         0  28.0
889       1      0      0  30.0000           0         1  26.0
890       3      0      0   7.7500           0         1  32.0

[891 rows x 7 columns]
     Pclass  SibSp  Parch      Fare  Sex_female  Sex_male   Age
0         3      0      0    7.8292           0         1  34.5
1         3      1      0    7.0000           1         0  47.0
2         2      0      0    9.6875           0         1  62.0
3         3      0      0    8.6625           0         1  27.0
4         3      1      1   12.2875           1         0  22.0
..      ...    ...    ...       ...         ...       ...   ...
413       3      0      0    8.0500           0         1  27.0
414       1      0      0  108.9000           1         0  39.0
415       3      0      0    7.2500           0         1  38.5
416       3      0      0    8.0500           0         1  27.0
417       3      1      1   22.3583           0         1  27.0

[418 rows x 7 columns]
Your submission was successfully saved!